body{
  margin:0;
}
#night_day{
  font-size: 20px;
  padding: 10px 15px;
  text-align: center;
}
@media(min-width:800px){
h1{
 border-bottom:1px gray solid;
 text-align:center;
 font-size:50px;
 padding:10px;
 margin:0;
}
#list_button{
  border-right:1px gray solid;
  padding:15px;
}
#all{
  display:grid;
  grid-template-columns: 130px 1fr;
}
#article{
  padding:10px;
}
}
